<div class="container-header-user">
    <div>
      <img src="img/headerProfilePic.jpg" />
  </div>
</div>

<div class="container relative-container marginBottom">

    <div class="profile-user-image">
        <img src="img/profilePic.jpg" alt="" >
    </div>
    <div class="profileText">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <div class="text-center"><h3 class="nameAboutMe">SARA MESA GUERRA</h3></div>
            <p class="lead">I am a Frontend Web Developer, tourism graduate and marketing specialist. I am passionate about languages, trips and technology. I've lived in several cities in Spain and abroad, and visited around seventeen countries.

            I have developed several job experiences in customer service as a hotel receptionist at the Hotel Trip La Caleta, and as an assistant at the International Relations Office of the University of Cádiz. </p>
            </p>
            <a href="https://github.com/saramesa"><i class="fa fa-github fa-3x github"></i></a>
            <span><a href="https://www.linkedin.com/in/sara-mesa-guerra-75968044?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-3x linkedin"></i></a></span>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>

    </div>